{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
                <h1>About</h1>
            </div>
            <div>
            <p><strong>This website was put together by Bogdan Tufescu</strong>.</p>
            <p><strong>Visits:{{visits}}</strong></p>

            <img  width="180" height="200" src="{% static "images/Bogdan.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
            </div>
{% endblock %}