<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
	<h2><a href="/rango/about">About page</a></h2>
        <h2><a href="/rango/add_category">Add a new category</a></h2>
        <h1>Rango says..hello world!</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
	
	<p>Most visited pages</p>

        {% if pages %}
            <ul>
                {% for page in pages %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{{page.url}}">{{ page.title}}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no pages present.</strong>
       {% endif %}

    </body>
</html>