
<!DOCTYPE html>
{% extends "rango/base.html" %}
{% block body_block %}
<div>
<h2>{{ user.username }}</h2>
<p>Email: {{ user.email }}</p>
{% if userprofile %}
<p>Website: <a href="{{ userprofile.website }}">{{ userprofile.website }}</a></p>
<br>
{% if userprofile.picture %}
<img idth="180" height="200" src="{{ userprofile.picture.url }}" />
{% endif %}
{% endif %}
<br>
<br>
<a class="btn btn-success"" href="/rango/add_profile">Edit Profile</a>
<a class="btn btn-success"" href="{% url 'auth_password_change' %}">Change Password</a><br>
</div>
{% endblock %}